#login, #send-pwd-link {
    position: absolute;
    left: 40%;
    top: 40%;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    padding: 20px
}
#username, #password, #email {
    font-size: medium;
    padding: 5px;
    width: 250px;
    border-radius: 5px;
}
#submit, #send-link {
    font-size: medium;
    padding: 5px;
    margin-top: 10px;
}
a {
    float: right;
    margin-top: -40px;
}
#send-link-msg {
    text-align: justify;
}
